<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Game store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Games<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Community<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">About<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Support<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="user_auth">
      <a href="#" class="user_auth_button" id="sign_in">Sign in</a>
      <a href="#" class="user_auth_button">Sign up</a>
    </div>
  </div>
</nav>

<div class="popup_background" id="overlay">
  <div class="popup_sign_in">
    <h4>Please login</h4>
    <span>User name</span>
    <input type="text">
    <span>Password</span>
    <input type="password">
    <a href="#" class="button_auth">Sign in</a>
  </div>
</div>

<script>

  document.getElementById("sign_in").addEventListener("click", function(){
    document.querySelector(".popup_background").style.display = "flex";
  })

  document.getElementById("overlay").addEventListener("click", function(){
    document.querySelector(".popup_background").style.display = "none";
  })

</script>